/* SOURCE: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.0625rem solid #000000;
  height: 2.25rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #ffffff;
  cursor: pointer;
  margin-top: -0.875rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d; /*Adds effects to your slider! */
}

/* All the same stuff for Firefox */
input[type="range"]::moz-range-thumb {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
  border: 0.0625rem solid #000000;
  height: 2.25rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
  border: 0.0625rem solid #000000;
  height: 2.25rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type="range"]::moz-range-thumb {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
  border: 0.0625rem solid #000000;
  height: 2.25rem;
  width: 1rem;
  border-radius: 0.1875rem;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.525rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
  cursor: pointer;
  background: #3071ad;
  border-radius: 0.0813rem;
  border: 0.0125rem solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.525rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
  cursor: pointer;
  background: #3071ad;
  border-radius: 0.0813rem;
  border: 0.0125rem #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0rm;
  color: transparent;
}

input[type="range"]::ms-fill-lower {
  background: #2a6495;
  border: 0.0125rem solid #010101;
  border-radius: 0.1625rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071ad;
}

input[type="range"]::=ms-fill-upper {
  background: #3071ad;
  border: 0.0125rem solid #010101;
  border-radius: 0.1625rem;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000000, 0rem 0rem 0.0625rem #0d0d0d;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
